* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Roboto", sans-serif; */
  position: relative;
  color: #fff;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}
.myday {
  min-height: 100vh;
  background: linear-gradient(
    to left,
    rgba(148, 0, 211, 0.48),
    rgba(76, 0, 130, 0.8)
  );
}
.planned {
  min-height: 100vh;
  background: linear-gradient(to right, #4cb8c4, #3cd3ad);
}
.filter {
  min-height: 100vh;
  background: linear-gradient(35deg, red, purple);
}
.archive {
  min-height: 100vh;
  background: linear-gradient(to right, #c84e89, #f15f79);
}
.menu {
  position: relative;

  width: 22rem;
  background: linear-gradient(
      to right,
      rgba(112, 227, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://grainy-gradients.vercel.app/noise.svg);
  /* opacity: 0.5; */
  border-top-right-radius: 5%;
  border-bottom-right-radius: 10%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.menu-item {
  display: flex;
  justify-content: center;
  /* align-items: baseline; */

  flex-direction: column;
  margin-bottom: 13rem;
  width: 100%;
  /* margin-left: 2rem; */
}
.menu-item a {
  text-decoration: none;
}
.nav-text {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;

  padding: 0.8rem;
  font-size: 1.4rem;
}
.list-item {
  transition: all 0.3s ease-out;
}

.list-item:hover {
  background: rgba(255, 255, 255, 0.2);
  /* border-radius: 80%; */
}

.navtext {
  display: flex;
  align-items: center;
  pointer-events: none;
}
span {
  margin-left: 2rem;
  color: rgba(0, 0, 0, 1);
  /* color: #000000; */
}
.menu-item li {
  cursor: pointer;
  margin-left: 3rem;
}

.myday-text {
  color: #9400d3;
}
.planned-text {
  color: #1a7287;
}
.filter-text {
  color: #cf5300;
}
.archive-text {
  color: #c84e89;
}
.menu-item svg {
  width: 2.2rem;
  height: 2.2rem;
}
.user-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.2rem;
}
.user {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: fixed;
  height: 10vh;
  top: 6%;
  left: 3%;
}
.userStats {
  font-family: sans-serif;
}
.userStats h3 {
  color: black;
  font-weight: normal;
  font-size: 18px;
}
.userStats p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.add-task {
  position: fixed;
  bottom: 8%;
  right: 3%;
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.3rem;
  /* blur(8px); */
  background: linear-gradient(to right, #62626276, #64646457);
  border-radius: 2%;
}
.add-task svg {
  font-size: 2.7rem;
  color: white;
}
.add-task p {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
.expand {
  width: 4rem;
}
.task-input {
  padding: 1rem;

  border-radius: 5%;
  position: absolute;
  /* width: 25%; */
  margin: auto;

  background-color: rgba(250, 183, 0, 01);
  /* background: linear-gradient(to right, rgba(250, 183, 0, 01), #fffb00); */
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);

  color: #212121;
  box-shadow: 0.5rem 0.5rem 0 #212121;

  bottom: 5rem;
  right: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task-input input {
  margin-left: 1rem;
  border: none;
  border: 3px solid #212121;
  margin-top: 1rem;

  padding: 0.5rem 2rem;
}
.button-group button {
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 9%;
  border: none;
}
.task-input {
  margin-bottom: 15rem;
  z-index: 5;
}
.myday,
.filter,
.archive,
.planned {
  display: flex;
}
.card {
  /* margin-top: 1rem; */
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  /* padding: 40px 50px; */
  padding: 1rem 3rem;
  margin: 2rem 0;
  margin-left: 2rem;
  position: relative;
  width: 100vh;
  display: flex;
  justify-content: space-between;
  /* height: 3rem; */
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.stat {
  display: flex;
}
.customize {
  display: flex;
  justify-content: end;
}
.edit {
  background-color: white;
  border: none;
}
.check {
  height: 1.3rem;

  width: 1.3rem;
  /* border-radius: 50%; */
}
.select {
  position: absolute;
  right: 2%;
  top: 5%;
  display: flex;
  flex-direction: column;
}
select {
  border: none;
  appearance: none;
  margin-top: 0.5rem;

  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  width: 15rem;

  /* Remove IE arrow */

  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(
      to left,
      rgba(255, 255, 255, 0.3) 3em,
      rgba(255, 255, 255, 0.2)
    );
}
option {
  background-color: #320a28;
}
.edit {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 2rem;
  font-size: 1rem;
}
.containers {
  position: absolute;
  left: 10%;
  top: 70%;
}
.user-inp {
  align-items: center;
  display: flex;
  flex-direction: column;

  background-color: rgba(32, 33, 66, 0.5);
  padding: 6rem 2rem;
  border-radius: 10%;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}
.user-inp input {
  margin-bottom: 0.5rem;
  /* flex-grow: 2; */
  /* border: none; */

  font-size: 16px;
  margin-left: 1rem;

  background-color: white;
  padding: 0.5rem 1rem;

  border: none;
}

.user-inp input:focus {
  outline: none;
}
.containers button {
  border: 0;

  border-radius: 8px;
  color: #fff;
  margin-top: 2rem;
  font-size: 1rem;
  width: 50%;
  height: 2rem;
  background-color: rgb(255, 255, 255, 0.2);

  cursor: pointer;
}
@media (max-width: 500px) {
  .menu {
    width: 8rem;
  }

  .nav-text {
    font-size: 0.6rem;
  }
  .menu-item li {
    margin-left: 0;
    /* padding: 1rem; */
  }
  .menu-item svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  span {
    margin: 0;
  }
  .user-pic img {
    width: 2rem;
    height: 2rem;
    margin-right: 0;
  }
  .userStats h3 {
    font-size: 0.7rem;
  }
  .userStats p {
    font-size: 0.4rem;
  }
  .user {
    left: 1%;
    top: 8%;
    align-items: center;
    justify-content: center;
  }
  .userStats {
    margin-left: 0.2rem;
  }
  .edit {
    padding-left: 0;
    font-size: 0.6rem;
  }
  .card {
    width: 100%;
    padding: 0.4rem 1rem;
    margin-left: 0.6rem;
  }
  .check {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
  }
  .stat {
    align-items: center;
    justify-content: center;
  }
  .select {
    right: -5%;
  }
  select {
    appearance: none;
    width: 100%;

    padding: 0.1rem 0.1rem;
    font-size: 0.5rem;
    height: 1.5rem;
    z-index: 5;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.3) 3em,
      rgba(255, 255, 255, 0.2)
    );
  }
  h2 {
    font-size: 1rem;
    margin: 0.8rem;

    margin-left: 0.2rem;
  }
  .task-input {
    right: 1rem;
    padding: 1;
  }
  .task-input input {
    padding: 0.2rem 0.5rem;
  }
  .add-task {
    padding: 0.5rem 1rem;
  }
  .add-task p {
    font-size: 0.8rem;
  }
  .add-task svg {
    font-size: 2rem;
  }
  .filter .card {
    margin: 1rem 0.25rem;
  }
  .todo-list {
    margin-top: 1rem;
  }
}
